html{
    scroll-behavior: smooth;
}


.page{
    width: calc(100vw - var(--nav-width));
    height: 100vh;
    background-color: #1d1b1b;
    margin-left: var(--nav-width);
}

.home .main-content{
    height: 100vh;
    padding-left: 50px;
    flex-grow: 1;
    background-color: #1d1b1b;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
    position: relative;
}

.home .main-content-title{
    margin: 10px 0;
}

.home .main-content-subtitle{
    font-size: 15px;
    margin: 0;
    margin-bottom: 20px;
    display: inline-block;
}

.home .main-content button{
    border: 3px solid var(--red-main);
    padding: 15px 20px;
    font-size: 20px;
    background-color: #1d1b1b;
    transition: all .2s linear;
    margin-top: 15px;
    margin-bottom: 30px;
}

.home .main-content button:hover{
    background-color: var(--red-main);
    border:3px solid white;
    border-radius: 20px;
    cursor: pointer;
}

.home .main-content button:hover span {
    color: white;
}

.home .contact-me{
    color: var(--red-main);
}

.home .tags{
    font-family: 'Courier Prime', monospace;
    color: var(--grey-main);
    font-size: 15px;
    margin-left: -10px;
    display: flex;
}

.home .tags span{
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;

}

.home .tags span:last-child{
    margin-left: -10px;
}

.home .main-content-header > span{
    font-family: 'Courier Prime', monospace;
    color: var(--grey-main);
    font-size: 15px;
}

.home .main-content-header span:last-child{
    display: inline;
}

.home .rebeca{
    color: var(--red-main)
}

.home .letter-R{
    position: absolute;
    border-radius: 20px;
    top: 120px;
    right: 250px;
    width: 330px;
    height: 470px;
    transition: all .2s ease-in;
}

.home .letter-R:hover{
    transform: rotate(10deg);
    filter: sepia(0.60);
}

/* About-me page */

.about .main-content{
    height: 100vh;
    padding-left: 50px;
    padding-right: 200px;
    flex-grow: 1;
    background-color: #1d1b1b;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
    position: relative;
}

.about .tags{
    font-family: 'Courier Prime', monospace;
    color: var(--grey-main);
    font-size: 15px;
    margin-left: -30px;
    display: flex;
}

.about .tags span{
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;

}

.about .tags span:last-child{
    margin-left: 10px;
}

.about .main-content-header > span{
    font-family: 'Courier Prime', monospace;
    color: var(--grey-main);
    font-size: 15px;
}

.about .main-content-header span:last-child{
    display: inline;
}

.about .rebeca{
    color: var(--red-main)
}
.about .about-me-title{
    font-family: 'Montserrat';
    margin: 0;
}
.about .about-me-subtitle{
    font-family: 'Montserrat';
    font-size: 15px;
    display: inline-block;
    margin-bottom: 20px;
    margin-right: 500px 
}

.about .about-me-img{
    position: absolute;
    top: 120px;
    right: 250px;
    width: 240px;
    height: 430px;
    border-radius: 20px;
    transition: all .2s ease-in;
}

.about-me-img:hover{
    transform: rotate(-10deg);
    filter: sepia(0.60);
}

/* Skills-page */

.skills .main-content{
    height: 100vh;
    padding-left: 50px;
    padding-right: 200px;
    flex-grow: 1;
    background-color: #1d1b1b;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
    position: relative;
}

.skills .tags{
    font-family: 'Courier Prime', monospace;
    color: var(--grey-main);
    font-size: 15px;
    margin-left: -30px;
    display: flex;
}

.skills .tags span{
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;

}

.skills .tags span:last-child{
    margin-left: 10px;
}

.skills .main-content-header > span{
    font-family: 'Courier Prime', monospace;
    color: var(--grey-main);
    font-size: 15px;
}

.skills .main-content-header span:last-child{
    display: inline;
}

.skills .rebeca{
    color: var(--red-main)
}
.skills .skills-title{
    font-family: 'Montserrat';
    margin: 0;
}
.skills .skills-subtitle{
    font-family: 'Montserrat';
    font-size: 15px;
    display: inline-block;
    margin-bottom: 20px;
    margin-right: 500px 
}

a{
    text-decoration: none;
    color: var(--red-main);
    cursor: pointer;
}

.sololearn{
    text-decoration: underline;
}

.skills .skills-img{
    position: absolute;
    top: 120px;
    right: 220px;
    width: 300px;
    height: 430px;
    border-radius: 20px;
    transition: all .2s ease-in;
}

.skills-img:hover{
    transform: rotate(10deg);
    filter: sepia(0.60);
}

/* Contact-page */

.contact .main-content{
    height: 100vh;
    padding-left: 50px;
    padding-right: 200px;
    flex-grow: 1;
    background-color: #1d1b1b;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
    position: relative;
}

.contact .tags{
    font-family: 'Courier Prime', monospace;
    color: var(--grey-main);
    font-size: 15px;
    margin-left: -30px;
    display: flex;
}

.contact .tags span{
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;

}

.contact .tags span:last-child{
    margin-left: 10px;
}

.contact .main-content-header > span{
    font-family: 'Courier Prime', monospace;
    color: var(--grey-main);
    font-size: 15px;
}

.contact .main-content-header span:last-child{
    display: inline;
}

.contact .rebeca{
    color: var(--red-main)
}
.contact .contact-title{
    font-family: 'Montserrat';
    margin: 0;
    color: var(--red-main);
    padding-left: 10px;
}
.contact .contact-subtitle{
    font-family: 'Montserrat';
    font-size: 15px;
    display: inline-block;
    margin-left: 10px;
    padding-right: 460px 
}

.contact-img{
    position: absolute;
    top: 200px;
    right: 170px;
    width: 330px;
    height: 330px;
    border-radius: 20px;
    transition: all .2s ease-in;
}

.contact-img:hover{
    transform: rotate(-10deg);
    filter: sepia(0.60);
}

.contact-form .name{
    margin: 10px;
    margin-right: 0;
    width: 200px;
    background: #2b2b2b;
    height: 10px;
    font-size: 13px;
    color: #8d8d8d;
    padding: 20px;
    border: 1px solid white;
}

.contact-form .name:hover{
    border: 1px solid var(--red-main);
}

.contact-form .email{
    margin: 10px;
    margin-left: 0;
    width: 200px;
    background: #2b2b2b;
    height: 10px;
    font-size: 13px;
    color: #8d8d8d;
    padding: 20px;
    border: 1px solid white;
}

.contact-form .email:hover{
    border: 1px solid var(--red-main);
}

.contact-form .subject{
    margin: 0px;
    margin-left: 10px;
    width: 450px;
    background: #2b2b2b;
    height: 10px;
    font-size: 13px;
    color: #8d8d8d;
    padding: 20px;
    border: 1px solid white;
}

.contact-form .subject:hover{
    border: 1px solid var(--red-main);
}

.contact-form .message{
    margin: 0px;
    margin-left: 10px;
    width: 450px;
    background: #2b2b2b;
    height: 10px;
    font-size: 13px;
    color: #8d8d8d;
    padding: 20px;
    border: 1px solid white;
}

.contact-form .message:hover{
    border: 1px solid var(--red-main);
}

.contact-form .submit{
    border: 1px solid white;
    padding: 15px 15px;
    font-size: 20px;
    background-color: #1d1b1b;
    transition: all .2s linear;
    margin-top: 20px;
    margin-left: 220px;
    margin-bottom: 30px;
    color: #BC3F3E;
}

.contact-form .submit:hover{
    background-color: var(--red-main);
    border:3px solid white;
    border-radius: 20px;
    cursor: pointer;
    color: white;
}